*{
    margin: 0;
    padding: 0;
}

.container{
    width: 200px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(27, 23, 60);
    color: white;
    position: fixed;
}

.content{
    margin-left: 200px;
    padding: 10px;
}

.content p{
    margin-bottom: 10px;
}

.logo{
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 2px;
    padding: 5px;
    margin-top: 3px;
    margin-left: 3px;
    cursor: pointer;
}

.navbar ul{
    list-style: none;
    padding: 5px;
}

.navbar ul li{
    padding:6px 6px 6px 1px;
    display: block;
}

.navbar ul li:hover{
    background-color: rgba(240, 248, 255, 0.4);
}

.navbar ul li a{
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 400;
}

.footer{
    margin-bottom: 5px;
    font-size: 15px;
}

.footer P{
    font-weight: 400;
    font-size: 16px;
}

.footer a{
    margin-left: 3px;
    font-size: 17px;
    text-transform: uppercase;
    margin: 3px;
}

:is(#Home,#Contact,#Location):target{
    background-color: aquamarine;
}