*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.box img{
    width: 150px;
    height: 60px;
    padding: 10px;
}

.box{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.form{
    width: 500px;
    min-width: 500px;
    height: 500px;
    padding: 20px;
    border-radius: 6px;
    border: 1px solid wheat;
    box-shadow: 0 0 10px whitesmoke;
}

.form img{
    display: block;
    margin: auto;
    gap: 10px;
}

.form-title{
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 24px;
    text-align: center;
}

.form-group{
    height: 55px;
    margin-bottom: 40px;
    position: relative;
}

.form-control{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: none;
    border: 2px solid aquamarine;
    outline: none;
    padding: 15px;
    border-radius: 4px;
    z-index: 1;
}

.form-label{
    position: absolute;
    left: 15px;
    top: 15px;
    color: gray;
    background-color: white;
    padding-left: 0 6px;
    font-size: 15px;
    transition: .3s;
}

.form-control:focus+ .form-label{
    top: -8px;
    z-index: 8;
    color: blue;
    font-weight: 500;
}

.form-control:focus{
    border: 2px solid blue;
}

.form-control:not(:focus):valid+label{
    top: -8px;
    z-index: 8;
}

.showlabel{
    font-size: 15px;
}

.bottom-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}   

.bottom-box a{
    color: blue;
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
}

.form-bottom{
    display: block;
    padding: 10px 25px;
    background-color: blue;
    color: aliceblue;
    border: none;
    border-radius: 5px;
    transition: .3s;
}

.form-bottom:hover{
    box-shadow: 0 0 10px blue;
}