/*
1.Static
2.Realative( L,R,B,T)
3.Absolute( L ,R,B,T , Relative)
4.Fixed(overall mainbbox)
5.Sticky
*/

.main{
    position: relative;
}
.box1{
    position: relative;
    left: 10px;
}
.box2{
    position: absolute;
    bottom: 0;
    left: 30px;
}
.box3{
    position: fixed;
    left: 20px;
}